.league{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: content-box;
}

.warn{
    color: rgb(244, 67, 54);
}

.success{
    width: 74%;
    text-align: center;
}

md-list-item{
    padding: 0 15px 0 15px;
}

.singupForm{
    width: 100%;
}
form md-input-container{
    width: 60%;
}

@media screen and (max-width: 600px) {
    .md-list-item-text>form>md-input-container{
        width: 60vw;
    }
    section#main{
        margin-top: 0;
    }
}

@media screen and (min-width : 600px) and (max-width : 900px){
    .md-list-item-text>form>md-input-container{
        width: 70vw;
    }
    section#main{
        margin-top: 0%;
    }
}
@media screen and (min-width : 900px){
    .md-list-item-text>form>md-input-container{
        width: 50vw;
    }
    section#main{
        margin-top: 0%;
    }
}
