.league{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: content-box;
}

.md-list-item-text>form>md-input-container{
    width: 47vw;
}

md-list-item{
    padding: 0 15px 0 15px;
}

@media screen and (max-width: 600px) {
    .md-list-item-text>form>md-input-container{
        width: 60vw;
    }
    section#main{
        margin-top: 0;
    }
}

@media screen and (min-width : 600px) and (max-width : 900px){
    .md-list-item-text>form>md-input-container{
        width: 60vw;
    }
    section#main{
        margin-top: 3%;
    }
}
@media screen and (min-width : 900px){
    .md-list-item-text>form>md-input-container{
        width: 43vw;
    }
    section#main{
        margin-top: 3%;
    }
}
