<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ngBool</title>
        <link rel="icon" type="image/png" href="./img/favicon.png">

        <!-- build:css /styles/style.min.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- endbuild -->

        <!-- build:js /js/vendor.min.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js /js/app.min.js -->
        <!-- inject:js -->
        <!-- endinject -->
        <!-- endbuild -->
    </head>
    <body ng-app="ngBool">

    </body>
</html>
